html {
  font-family: Inter,sans-serif;
}
.container {
    height: 500px;
    position: relative;
  }
  
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.button-35 {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-size: 1.8rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 1rem; /* Added margin for space between buttons */
  outline: none;
  padding: 1rem 1.5rem;
  height: 7rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

[type="button"]:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.back-arrow {
  border: none;
  padding: 10px;
  text-align: center;
  margin: 4px 2px;
  border-radius: 100px;
}

.back-arrow:before {
  content: '←';
  font-size: 1.5rem;
}

.signup{
  width: 360px;
  height: 620px;
  margin:auto;
}
form label{
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}
form input{
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline-offset: none;
}

h1{
  text-align: center;
}

.navbar ul{
  list-style-type: none;
  background-color: aquamarine;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a{
  color: #fff;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar a:hover{
  background-color:bisque;
}
.navbar li{
  float: right;
}

#skills{
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px); /*allows us to position the skill notes on page*/
  padding: 24px;
  gap: 24px;
}

.notes{
  height: 200px;
  box-sizing: border-box;
  padding: 16px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  resize:none; /*so note isnt resizable*/
  font-size: 16px;
}
