html {
  font-family: Inter, sans-serif;
}

.container {
  height: 500px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button-35 {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-size: 1.8rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 1rem; /* Added margin for space between buttons */
  outline: none;
  padding: 1rem 1.5rem;
  height: 7rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-35:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.back-arrow {
  width: 50px; 
  height: 50px;
  border: none;
  padding: 10px;
  text-align: center;
  margin: 4px 2px;
  border-radius: 100px;
  background: olive;
}

.back-arrow:before {
  content: '←';
  font-size: 1.5rem;
}

.signup {
  width: 360px;
  height: 620px;
  margin: auto;
}
form {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}

form input {
  width: 113%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline-offset: none;
}

h1 {
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  background-color: aquamarine;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  background-color: bisque;
}

.navbar li {
  float: right;
}

.banner {
  background-color: #BFDACC;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.content {
  width: 100%;
  top: 20%;
  position: absolute;
  transform: translateY(-50%);
  text-align: center;
  color: #121212;
}

.content h1 {
  font-size: 40px;
  margin-top: 10px;
}

.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}

.daily {
    width: 100%;
    top: 25%;
    position: absolute;
    transform: translateY(-50%);
    text-align: center;
    color: #121212;
}
.daily p {
  margin: 20px auto;
  text-weight: 100;
  text-align: left;
  line-height: 25px;
}

.form {
  width: 100%;
  top: 100%;
  position: absolute;
  transform: translateY(-50%);
  text-align: center;
  color: #121212;
}

.form h1 {
  font-size: 50px;
  margin-top: 20px;
}

.form p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}

.button1 {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  display: inline-block;
}

.button1 span {
  background: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

.button1:hover span {
  width: 100%;
}

.button1:hover {
  border: none;
}


label, input, button {
  display: block;
  width: 100%;
  margin: 10px 0;
}

input, button {
  padding: 10px;
}

button {
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#logsContainer {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}


#skills{
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px); /*allows us to position the skill notes on page*/
  padding: 24px;
  gap: 24px;
}

.notes{
  height: 200px;
  box-sizing: border-box;
  padding: 16px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  resize:none; /*so note isnt resizable*/
  font-size: 16px;
}

.add-button{
  height: 200px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 120px;
  color: rgba(0, 0, 0,0.5);
}

.add-button:hover{
  background: rgba(0,0,0,0.2);
}
